
/**** about-khalasha ****/
.about-us .about-khalasha {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86.6426%);
}

.about-us .about-khalasha h1::after,
.about-us .about-khalasha h1::before {
    background-color: white;
}

.about-us .about-khalasha p {
    margin-top: 32px;
}

/***** our mission *****/
.about-us .our-mission {
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 94%);
    margin-top: -82px;
}

.about-us .our-mission p {
    color: #505050;
    margin-top: 24px;
}

/***** strategy *****/
.our-strategy .bg-img {
    padding: 36px 0;
}

.our-strategy h1 {
    margin: 37px 0
}

.our-strategy .item {
    padding-right: 49px;
}

.our-strategy .item::before {
    position: absolute;
    right: 0px;
    width: 3px;
    height: 65px;
    content: '';
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
}

.our-strategy .bg-img p:not(.our-strategy .bg-img p:last-of-type) {
    margin-bottom: 39px;
}

.our-strategy .img {
    width: 85%;
}

/*** integration-speceficatipns****/
.integration-speceficatipns h1 {
    margin: 88px 0 36px;
}

.integration-speceficatipns .bg-img,
.our-message {
    padding: 110px 0 125px;
}

.our-strategy .bg-img,
.integration-speceficatipns .bg-img,
.our-message {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.integration-speceficatipns .item {
    width: calc(93% /3);
}

/**** our-message ****/
.our-message {
    margin-top: 68px;
}

.our-message h1 {
    margin-bottom: 86px;
}

.our-message .row img {
    margin-left: 24px;
    width: 85px;
    height: 85px;
}

.overlay1,
.overlay2 {
    z-index: 1;
    top: 25px;
    right: 0;
    width: 100%;
    height: 100%;
}

.overlay1 {
    top: 36px;
}

.overlay2 {
    top: 25px;
}

.overlay3 {
    top: 7%;
    left: 0;
    z-index: 3;
    height: 93%;
}

.overlay1 img {
    width: 236px;
    margin: 0 auto 0 7%
}

.overlay2 img {
    width: 173px;
    margin: 0 auto 0 5%
}

.overlay3 img {
    width: 300px;
    height: 100%;
}

@media (max-width:1600px) {
    .py-150 {
        padding: 100px 0;
    }

    /**** about-khalasha ****/

    .about-us .our-mission {
        margin-top: -56px;
    }

    .our-strategy .bg-img {
        padding-top: 36px;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }

    .our-strategy .img {
        width: 80%;
    }

    .integration-speceficatipns h1 {
        margin-top: 45px;
    }

    .integration-speceficatipns .item {
        width: calc(65% / 3);
    }

    .integration-speceficatipns .bg-img {
        padding-bottom: 60px;
    }

    .our-message,
    .integration-speceficatipns .bg-img {
        clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
    }

    .our-message h1 {
        margin-bottom: 50px;
    }

    .our-message {
        padding-top: 90px 0 50px;
    }

    .our-message .row img {
        width: 55px;
        height: 55px;
    }



    .overlay3 {
        top: 7%;
        left: 0;
        z-index: 3;
        height: 93%;
    }

    .overlay3 img {
        width: 230px;
        height: 100%;
    }
}

@media (max-width:991.95px) {
    .py-150 {
        padding: 50px 0 !important;
    }

    .about-us .about-khalasha p {
        width: 75% !important;
    }

    .about-us .our-mission {
        margin-top: -45px;
    }

    .our-strategy .item {
        padding-right: 25px;
    }

    .our-strategy .item::before {
        height: 50px;
    }

    .integration-speceficatipns .bg-img {
        padding: 75px 0;
    }

    .integration-speceficatipns h1 {
        margin-top: 36px;
    }

    .integration-speceficatipns .bg-img .container {
        max-width: 910px;
    }

    .integration-speceficatipns .item {
        width: calc(75% / 3);
    }
}

@media (max-width:575px) {
    .py-150 {
        padding: 65px 0 !important;
    }

    .about-us .about-khalasha p {
        width: 90% !important;
    }

    .about-us .our-mission {
        margin-top: -50px;
    }

    .our-strategy .bg-img {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }

    .integration-speceficatipns .item {
        width: 80%;
        margin: 0 auto 20px;
    }
    .overlay2 {
        top: 60px;
    }
    .overlay3 img {
        width: 200px;
    }
}
