/*navbar styles*/
.navbar .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 21.88px;
    line-height: 36px;
    color: #456071;
}

.navbar .nav-link.active {
    color: #C76E61;
}

.navbar {
    padding: 30px;
}

/*end navbar */

/**** resources ****/
.navbar {
    background: #F6F6F6;
}

.header-crumbs {
    padding: 30px;
    background: #F5F5F5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.blogs-title .resources-khalasha h1 {
    color: #C76E61;
}

.blogs-title .resources-khalasha h1::after,
.blogs-title .resources-khalasha h1::before {
    background-color: white;
}

.blogs-title .resources-khalasha h1::after {
    right: 34%;
    background-color: #C76E61;
}

.blogs-title .resources-khalasha h1::before {
    right: 48%;
    background-color: #C76E61;
}

.blogs-title .resources-khalasha {
    background: #F5F5F5;
}

.blogs-title .resources-khalasha p {
    margin-top: 32px;
    color: #5B5B5B;
    font-size: 21px;
    line-height: 33px;
}

/*contact us*/
.contact-us {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-us .contact-us-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #F5F5F5;
    opacity: 0.5;
    bottom: 0;
    right: 0;;
    z-index: -1;
    transform: skewY(4deg);
    height: 85%;
    margin-top: 20px;

}

.contact-us .contact-form {
    background: #FFFFFF;
    border-radius: 49.1134px;
    padding: 24px;
    margin: 87px 0px 87px 90px;
}

.contact-us .contact-us-card {
    background: rgba(98, 140, 165, 0.9);
    border-radius: 15px;
    margin-top: 50px;
}

.contact-us .contact-us-card h4 {
    font-weight: 500;
    font-size: 27.7598px;
    line-height: 45px;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 20px;
    border-bottom: 2.13537px solid #FFFFFF;
}
.contact-us .contact-us-card .item{
    margin-left: 60px;
    margin-right: 60px;
}
.contact-us .contact-us-card p {
    font-style: normal;
    font-weight: 500;
    font-size: 11.3886px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 24px;
}

.contact-us .contact-form input {
    border: none;
    border-radius: 0px;
    border-bottom: 2.13537px solid #628CA5;
    padding-top: 10px;
    margin-top: 20px;
}

.contact-us .contact-form textarea {
    border: none;
    border-bottom: 2.13537px solid #628CA5;
    border-radius: 0px;
    margin-top: 20px;
}

.contact-us .contact-form input:focus {
    outline: none;
}

.contact-us .contact-form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #628CA5;
    opacity: 0.6;
}

.contact-us .contact-form button {
    background: #628CA5;
    border-radius: 10.6768px;
    border: #628CA5;
    width: 100%;
    margin-top: 30px;
}
.contact-us .item .icons .icon{
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    color: #628CA5;;
}
.contact-us .item .icons .icon .fa-brands{
  font-size: 24px;
}
.contact-us .item .icons .fa-instagram {
   border-radius: 15px;
}
.border-radius-10px{
    border-radius: 10px;
}
