/*navbar styles*/
.navbar .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 21.88px;
    line-height: 36px;
    color: #456071;
}

.navbar .nav-link.active {
    color: #C76E61;
}

.navbar {
    padding: 30px;
}

/*end navbar */
.home-header-banner {
    height: 80vh;
    background: #fff;
}

.owl-carousel .owl-stage-outer {
    direction: ltr;
}

.home-header-banner .owl-carousel img {
    width: 500px;
    height: auto;
}

.home-header-banner .item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-header-banner .banner-content {
    margin-left: 50px;
}

.home-header-banner .banner-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 66.78px;
    line-height: 109px;
    color: #C76E61;
}

.home-header-banner .banner-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 34.19px;
    line-height: 109px;
    color: #628CA5;
}

.home-header-banner .owl-theme .owl-dot span {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #628CA5;
}

.home-header-banner .owl-theme .owl-dots .owl-dot.active span {
    background: #628CA5;
    border: 2px solid #628CA5;

}

.home-about-us-slider .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-about-us-slider .item .banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-about-us-slider .item img {
    height: 100px;
    width: 100px;
}

.home-about-us-slider .icon-rounded {
    width: 120px;
    height: 120px;
    background: #BBD8DD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.home-about-us-slider .banner-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 34.19px;
    color: #6394B8;
    margin-top: 34px;
}

.home-about-us-slider .banner-content hr {
    width: 43%;
    height: 4px;
    background-color: #6394B8;
    border-top: 0px;
}

.home-about-us-slider .banner-content p {
    font-size: 22px;
    line-height: 35px;
    color: #505050;
}

.home-about-us-slider .owl-theme .owl-dot span {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #628CA5;
}

.home-about-us-slider .owl-theme .owl-dots .owl-dot.active span {
    background: #628CA5;
    border: 2px solid #628CA5;

}

.home-about-us-slider {
    background-color: var(--main-bg-gray);
    clip-path: polygon(0 14%, 100% 0, 153% 57%, 0% 79%);
    padding-top: 93px;
    padding-bottom: 18rem;
}

.home-about-us-slider::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    border-radius: 100%/50%;
}

.home-about-us-slider {
    position: relative;
}

.ellipse-section {
    position: relative;
}

.ellipse {
    width: 20rem;
    height: 10rem;
    background: #EDD2CE;
    opacity: 0.6;
    border-radius: 0 0 10rem 10rem;
    position: absolute;
    bottom: 14%;
    transform: rotate(-4.5deg);
    right: 7%;
}

.line-1, .line-2 {
    width: 101.27px;
    border: 2.05581px solid #C76E61;
    display: inline-block;
    background-color: #C76E61;
}

.line-1 {
    margin-bottom: 4px;
    margin-right: 64px;
}

.header-service h2 {
    font-weight: 500;
    font-size: 42.74px;
    line-height: 50px;
    color: #C76E61;
    font-weight: bold;
}

.line-2 {
    margin-left: 40px;
}

.service-item .service-button {
    background: #628CA5;
    border-radius: 23.1394px;
    font-weight: 500;
    font-size: 21.88px;
    line-height: 36px;
    border: none;
    color: #ffffff;
    width: 234.53px;
    height: 55.98px;
    margin-top: -1px;
}

.home-services {
    background: var(--main-bg-gray);
    clip-path: polygon(0% 0%, 128% 15%, 105% 96%, 0% 79%);
    padding-top: 108px;
    padding-bottom: 131px;
}

.service-text .button {
    background: #D9D9D9;
    border-radius: 6px;
    width: 175px;
    height: 37px;
    border: none;
    font-size: 21.88px;
    line-height: 36px;
    color: #5B5B5B;
}

.service-text .button:hover {
    background-color: #C76E61;
    color: #ffffff;
}

.home-services::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: #0a53be;
}

.ellipse-section-blue {
    position: relative;
}

.ellipse-blue {
    width: 20rem;
    height: 10rem;
    background: #C1D4E3;
    opacity: 0.6;
    border-radius: 0 0 10rem 10rem;
    position: absolute;
    bottom: 1%;
    transform: rotate(5.5deg);
    left: 7%;
}

.header-item {
    height: 189px;
    background-color: #628CA5;
    border-radius: 11.8779px 11.8779px 0px 0px;
}

.header-item h3 {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
}

.advantages .advantage-content {
    font-size: 15px;
    color: #4D4D4D;
    background: #F6F6F6;
    border-radius: 11.8779px;
    padding: 20px;
    text-align: center;
    height: 153px;
}

.advantages .item:hover .header-item {
    background-color: #C76E61;

}

.advantages .item:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 11.8779px;
    transition: 0.5s all ease-in-out;
}

.our-services-goals h2 {
    font-weight: 500;
    font-size: 27.35px;
    line-height: 45px;
    color: #628CA5;
}

.our-services-goals {
    background-color: #F3F3F3;
    padding-top: 132px;
    padding-bottom: 8rem;
    transform: skewY(-4deg);
}

.transform7deg {
    transform: skewY(4deg);
}

.transform-7deg {
    transform: skewY(-4deg);
}

.our-services-goals p {
    font-style: normal;
    font-weight: 500;
    font-size: 17.5px;
    line-height: 28px;
    text-align: right;
    color: #5B5B5B;
}

.our-services-goals .item {
    background: #FDFDFD;
    box-shadow: 0px 3.87815px 5.81723px rgba(0, 0, 0, 0.25);
    border-radius: 42.6597px;
    padding: 38px 82px 54px 35px;
    margin: 12px;
}

.custom-border-radius {
    position: absolute;
    top: 9px;
    bottom: 0;
    left: -20px;
    background-image: url(../images/home/shape-radius.svg);
    background-repeat: no-repeat;
    width: 38%;
    background-size: cover;
}

.our-services-goals img {
    width: 293.53px;
    height: 295.14px
}


.our-services-goals .owl-theme .owl-dot span {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #628CA5;
}

.our-services-goals .owl-theme .owl-dots .owl-dot.active span {
    background: #628CA5;
    border: 2px solid #628CA5;

}

.our-services-goals .owl-theme .owl-dots {
    position: absolute;
    bottom: 43px;
    right: 90px;
}

.ellipse-sec {
    width: 20rem;
    height: 10rem;
    background: #EDD2CE;
    opacity: 0.6;
    border-radius: 10rem 10rem 0 0;
    position: absolute;
    top: -198px;
    transform: rotate(-4.1deg);
    right: 3%;
}

.mt-10rem {
    margin-top: 10rem;
}

.our-gaols {
    padding: 100px 20px;
}

.our-gaols h2 {
    font-size: 42.74px;
    line-height: 50px;
    color: #C76E61;
    font-weight: bold;
}

.our-gaols::after {
    content: '';
    width: 20rem;
    height: 10rem;
    background: #C1D4E3;
    opacity: 0.6;
    border-radius: 10rem 10rem 0 0;
    position: absolute;
    transform: skewY(4deg);
    left: 3%;
}

.statics {
    background-color: #F5F5F5;
    background-image: url("../images/home/arrow.svg");
    padding: 86px 30px;
}

.statics span {
    font-weight: 700;
    font-size: 42.74px;
    line-height: 55px;
    color: #2A335C;
}

.statics h5 {
    font-weight: 700;
    font-size: 27.35px;
    line-height: 55px;
    color: #2A335C;
}

.statics .item {
    margin-bottom: 50px;
}

.statics-header {
    margin-bottom: 80px;
}

.statics-header h2 {
    color: #C76E61;
    font-size: 42px;
    font-weight: 700;
}

.our-clients {
    padding: 50px;
}

.our-clients::before {
    content: '';
    width: 20rem;
    height: 10rem;
    background: #EDD2CE;
    opacity: 0.6;
    border-radius: 0 0 10rem 10rem;
    position: absolute;
    top: -43px;
    transform: rotate(-4.4deg);
}

/*footer*/
footer {
    background-color: #628CA5;
    padding-top: 60px;
}

footer p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
}

footer .list-none li {
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}

footer .header {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;
}
.brand-icon .fa-brands{
 font-size: 28px;
}
footer .footer-bottom{
    background-color: #828282;
    text-align: center;
    padding: 25px;
}
footer .footer-bottom span{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17.5px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
}
.fa-google-play{
    font-size: 40px;
}
footer .item-brand{
    border: 2px solid #FFFFFF;
    padding: 10px;
    border-radius: 8px;
}
