.border-gray{
    border: 1px solid #D3D3D3;
}
.fs-18{
    font-size: 18px;
}
.account-details {
    padding: 80px 0;
}

.account-details .overlay1,
.account-details .overlay2 {
    right: 0;
    z-index: 2;
}

.account-details .overlay1 {
    height: 65%;
    min-height: 730px !important;
}

.account-details .overlay2 {
    height: 23%;
}

.account-details .overlay1 {
    clip-path: polygon(0 0%, 100% 0, 100% 98%, 0 82%);
}

.account-details .overlay2 {
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
}

.account-details .header p {
    margin-bottom: 20px;
    font-size: 20px;
}

.account-details hr {
    color: rgba(0, 0, 0, 0.3);
}

.account-details .steper {
    margin-top: 105px;
}

.account-details .steper .steps span {
    cursor: pointer;
}

.account-details .steper .steps span:nth-child(odd) {
    width: 170px;
    height: 49px;
    line-height: 49px;
    border-radius: 40px;
}

.account-details .steper .steps span:nth-child(odd).active {
    color: white;
    background-color: var(--main-blue-color);
}

.account-details .steper .steps span:nth-child(even) {
    width: 59px;
    height: 4px;
}

.account-details .order-informations button,
.account-details .offers button,
.account-details .order-status button,
.account-details .bill button.first,
.creation-offer-price button:not(.add-term) {
    width: 189px;
    height: 43px;
    border-radius: 30px;
    margin-top: 99px;
}

.account-details .order-informations .right,
.account-details .order-informations .left {
    padding-top: 35px;
}

.account-details .order-informations p {
    border-bottom: 1px solid #D3D3D3;
    line-height: 39px;
    margin-bottom: 0;
}

.account-details .order-informations p span {
    padding-right: 7%;
}

.account-details .order-informations .center {
    width: 1px;
    background: #D3D3D3;
}

.account-details .btn.back {
    border-radius: 6px;
}

.account-details table {
    margin-top: 45px;
}

.account-details table thead th {
    background-color: #F5F5F5;
}

.account-details table td,
.account-details table th {
    height: 54px;
    line-height: 53px;
}

.account-details table tbody tr:nth-child(odd) {
    background: #F1F1F1;
}

.account-details table tbody tr:nth-child(even) {
    background: white;
}

.account-details .order-status .w-85,.slideouter {
    width: 85%;
}


.slideouter {
    margin: 52px auto;
}

.slideouter .srcl {
    height: 170px;
}

.slideouter .srcl div {
    width: 100px;
}

.slideouter .srcl .circle {
    left:  calc(var(--i)*200px);
}

.srcl .circle::after {
    transform-origin: left;
    z-index: 1;
    width: 164px;
    height: 3px;
}

.srcl .circle:nth-child(odd)::after {
    left: 70px;
    top: 35px;
}

.srcl .circle:nth-child(even)::after {
    left: 74px;
    top: 16px;
}

.srcl .circle:last-of-type::after {
    display: none;
}

.srcl .circle.done::after {
    background-color: var(--main-blue-color);
}

.srcl .circle:nth-child(even)::after {
    transform: rotate(-16deg);
}

.srcl .circle:nth-child(odd)::after {
    transform: rotate(16deg);
}

.srcl .circle span {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;
}
.srcl .circle span,.create-offer,.account-details .steper .steps span ,
.account-details .btn.back ,.srcl .circle::after{
    background-color: #D9D9D9;
}
.srcl .circle.done span {
    background-color: var(--main-blue-color);
}

.srcl .circle.inproccess span {
    background-color: var(--main-brown-color);
}

.srcl .circle p {
    font-size: 14px;
    margin-top: 10px;
}

.current-status {
    margin-top: 145px;
}

.current-status h5 {
    font-size: 28px;
}

.current-status h5::after {
    width: 144px;
    background-color: var(--main-brown-color);
}
.current-status h5::after,.bill-paper::before,.bill-paper::after,.bill-paper h2::after,.srcl .circle::after {
    position: absolute;
    content: '';   
}

.current-status h5::after,
.bill-paper h2::after,
.add-term{
    left: 50%;
    transform: translateX(-50%);
}
.current-status h5::after,
.bill-paper h2::after{
    bottom: -10px;
    height: 3px;
}
.preSlide,
.nextSlide {
    transform: translateY(-50%);
    color: #9E9E9E;
}

.nextSlide {
    left: 10px;
}
.preSlide {
    right: 10px;
}

.bill-paper {
    margin-top: 78px;
    padding: 48px 0 36px;
}

.bill-paper::after {
    left: 0;
    box-shadow: -5px -5px 4px -4px #ccc;
}

.bill-paper::before {
    right: 0;
    box-shadow: 5px 5px 4px -4px #ccc
}

.bill-paper::before,
.bill-paper::after {
    top: 0;
    width: 50%;
    height: 100%;
}

.bill-paper h2 {
    margin-bottom: 78px;
}

.bill-paper h2::after {
    width: 160px;
    background-color: var(--main-brown-color);
}

.bill-paper span {
    margin-top: 24px;
}

.bill .bill-download {
    width: 148px;
}

.bill .bill-download,
.bill-paper span.total-bill,
.creation-offer-price span.total-bill {
    border: 1px solid var(--gray-bold-color);
    height: 31px;
    line-height: 28px;
}

.bill-download {
    margin-top: 36px;
}

.bill-paper span.total-bill,
.creation-offer-price span.total-bill {
    width: 200px;
}

.create-offer {
    border-radius: 6px !important;
    width: 510px !important;
    height: 62px !important;
    font-size: 22px !important;
}

.creation-offer-price .card-bill {
    padding: 47px 47px 92px;
    border: 1px solid #D5D5D5;
    margin-top: -8px;
}

.creation-offer-price .d-flex div {
    color: var(--gray-bold-color) !important;
    margin-bottom: 22px;
}

.creation-offer-price .vr {
    height: 63px;
}

.add-term {
    bottom: -14px;
    height: 29px;
    font-size: 14px;
    border-radius: 35px;
    line-height: 0;
}

.modal-footer .aggree {
    background: #9E9E9E;
    border-radius: 6px;
    transform: translateX(-50%);
    height: 41px;
    width: 143px;
    bottom: -20px;
    
}

@media (max-width:1600px) {
    .fs-18{
        font-size: 14px !important;
    }

    .account-details .order-informations button,
    .account-details .offers button,
    .account-details .order-status button,
    .account-details .bill button.first {
        width: 160px;
    }

    .create-offer {
        font-size: 20px !important;
        width: 400px !important;
    }
    .modal-footer .aggree {
        height: 35px;
        bottom: -19px;
        font-size: 16px;
    }
}

@media (max-width:991.95px) {
    .offers .w-50 {
        width: 81% !important;
    }

    .bill .w-50 {
        width: 80% !important;
    }
}

@media (max-width:767.95px) {
    .current-status h5 {
        font-size: 22px
    }

    .account-details .overlay1 {
        min-height: unset !important;
    }

    .account-details .offers button,
    .account-details .order-status button,
    .account-details .bill button.first {
        width: 130px;
    }

    .button-back {
        margin-top: 80px !important;
    }

    .create-offer {
        font-size: 18px !important;
        width: 350px !important;
    }

    .creation-offer-price .card-bill.w-50 {
        width: 90% !important;
    }
}

@media (max-width:575px) {
    .account-details .steper {
        margin-top: 50px;
    }

    .account-details .btn.back,
    .account-details table td,
    .account-details table th {
        font-size: 12px !important;
    }

    .account-details .steper .steps span:nth-child(odd) {
        height: auto;
        line-height: unset;
        padding: 7px 5px 5px;
        font-size: 11px;
    }

    .account-details .steper .steps span:nth-child(even) {
        width: 25px;
        flex-shrink: 0;
    }

    .account-details .order-informations p span {
        font-size: 11px !important;
        padding-right: 2px !important;
    }
    .account-details .order-informations p span:nth-child(even){
        padding-right: 8px !important;
    }

    .account-details .order-informations button,
    .account-details .offers button,
    .account-details .order-status button,
    .account-details .bill button.first {
        margin-top: 30px;
    }

    .account-details .bill button.first {
        width: 115px;
    }

    .bill-paper span.total-bill,
    .creation-offer-price span.total-bill {
        width: 150px;
    }
    .creation-offer-price .card-bill {
        padding: 19px 19px 55px;
    }

    .bill-paper h2 {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .order-informations button {
        font-size: 14px;
    }

    .order-informations .w-75,
    .order-status .buttons,
    .offers .buttons {
        width: 100% !important;
    }

    .bill-paper span {
        font-size: 14px;
    }

    .create-offer {
        font-size: 16px !important;
        width: 270px !important;
        height: 42px !important;
    }
}