.border-gray {
    border: 1px solid #D3D3D3;
}

.fs-18 {
    font-size: 18px;
}

.account-details {
    padding: 80px 0;
}

.account-details .overlay1,
.account-details .overlay2 {
    right: 0;
    z-index: 2;
}

.account-details .overlay1 {
    height: 65%;
    min-height: 730px !important;
}

.account-details .overlay2 {
    height: 23%;
}

.account-details .overlay1 {
    clip-path: polygon(0 0%, 100% 0, 100% 98%, 0 82%);
}

.account-details .overlay2 {
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
}

.account-details .header p {
    margin-bottom: 20px;
    font-size: 20px;
}

.account-details hr {
    color: rgba(0, 0, 0, 0.3);
}

.account-details .steper {
    margin-top: 105px;
}

.account-details .steper .steps span {
    cursor: pointer;
}

.account-details .steper .steps span:nth-child(odd) {
    width: 170px;
    height: 49px;
    line-height: 49px;
    border-radius: 40px;
}

.account-details .steper .steps span:nth-child(odd).active {
    color: white !important;
    background-color: var(--main-blue-color) !important;
}

.account-details .steper .steps span:nth-child(even) {
    width: 59px;
    height: 4px;
}

.account-details .order-informations button,
.account-details .offers button,
.account-details .order-status button:not(.transition),
.account-details .bill button,
.creation-offer-price button:not(.add-term) {
    width: 189px;
    height: 43px;
    border-radius: 30px;
    margin-top: 99px;
}

.account-details .order-informations .right,
.account-details .order-informations .left {
    padding-top: 35px;
}

.account-details .order-informations p {
    border-bottom: 1px solid #D3D3D3;
    line-height: 39px;
    margin-bottom: 0;
}

.account-details .order-informations p span {
    padding-right: 7%;
}

.account-details .order-informations .center {
    width: 1px;
    background: #D3D3D3;
}

.account-details .btn.back {
    border-radius: 6px !important;
}

.account-details table {
    margin-top: 45px;
}

.account-details table thead th {
    background-color: #F5F5F5;
}

.account-details table td,
.account-details table th {
    height: 54px;
    line-height: 53px;
    position: relative;
}

.account-details table tbody tr:nth-child(odd) {
    background: #F1F1F1;
}
.offers table tbody tr.active,
.offers table tbody tr.active:hover td{
    background-color: var(--main-blue-color) !important;
    color: white !important;
}
.offers table tbody tr.active td:last-child a{
    color: white !important;
}

.offers table tbody tr.addLine td::before{
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%; 
        border-bottom: 2px solid #5B5B5B
}

.account-details table tbody tr:nth-child(even) {
    background: white;
}

.account-details .order-status .w-85,
.slideouter {
    width: 85%;
}

.offers table tr td:last-child {
    cursor: pointer;
}

.slideouter {
    margin: 52px auto;
}

.slideouter .srcl {
    height: 170px;
}

.slideouter .srcl div {
    width: 100px;
}

.slideouter .srcl .circle {
    left: calc(var(--i)*200px);
}

.srcl .circle::after {
    transform-origin: left;
    z-index: 1;
    width: 164px;
    height: 3px;
}

.srcl .circle:nth-child(odd)::after {
    left: 70px;
    top: 35px;
}

.srcl .circle:nth-child(even)::after {
    left: 74px;
    top: 16px;
}

.srcl .circle:last-of-type::after {
    display: none;
}

.srcl .circle.done::after {
    background-color: var(--main-blue-color) !important;
}

.srcl .circle:nth-child(even)::after {
    transform: rotate(-16deg);
}

.srcl .circle:nth-child(odd)::after {
    transform: rotate(16deg);
}

.srcl .circle span {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;
}

.srcl .circle span,
.create-offer,
.create-offer:hover,
.create-offer:focus,
.account-details .steper .steps span,
.account-details .btn.back,
.srcl .circle::after {
    border: 0 !important;
    background-color: #D9D9D9 !important;
}

.srcl .circle.done span {
    background-color: var(--main-blue-color) !important;
}

.srcl .circle.inproccess span {
    background-color: var(--main-brown-color) !important;
}

.srcl .circle p {
    font-size: 14px;
    margin-top: 10px;
}

.current-status {
    margin-top: 145px;
}

.current-status h5 {
    font-size: 28px;
}

.current-status h5::after {
    width: 144px;
    background-color: var(--main-brown-color);
}

.current-status h5::after,
.bill-paper::before,
.bill-paper::after,
.bill-paper h2::after,
.srcl .circle::after {
    position: absolute;
    content: '';
}

.current-status h5::after,
.bill-paper h2::after,
.add-term {
    left: 50%;
    transform: translateX(-50%);
}

.current-status h5::after,
.bill-paper h2::after {
    bottom: -10px;
    height: 3px;
}

.preSlide,
.nextSlide {
    transform: translateY(-50%);
    color: #9E9E9E;
}

.nextSlide {
    left: 10px;
}

.preSlide {
    right: 10px;
}

.bill-paper {
    margin-top: 78px;
    padding: 48px 0 36px;
}

.bill-paper::after {
    left: 0;
    box-shadow: -5px -5px 4px -4px #ccc;
}

.bill-paper::before {
    right: 0;
    box-shadow: 5px 5px 4px -4px #ccc
}

.bill-paper::before,
.bill-paper::after {
    top: 0;
    width: 50%;
    height: 100%;
}

.bill-paper h2 {
    margin-bottom: 78px;
}

.bill-paper h2::after {
    width: 160px;
    background-color: var(--main-brown-color);
}

.bill-paper span {
    margin-top: 24px;
}

.bill .bill-download {
    width: 148px !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.bill .bill-download,
.bill-paper span.total-bill,
.creation-offer-price span.total-bill {
    border: 1px solid var(--gray-bold-color);
    height: 31px !important;
    line-height: 28px !important;
}

.bill-download {
    margin-top: 36px !important;
    display: block;
    text-align: center;
}

.bill-paper h2.print {
    margin-bottom: 40px !important;
}

.bill-paper h2.print::after {
    display: none !important;
}

.bill .select {
    left: 16px;
}

.bill input {
    text-align: center;
    color: #AAAAAA;
    font-size: 18px;
}

.bill select {
    width: 66px;
    height: 25px;
    border: 1px solid #5B5B5B;
    font-size: 14px;
    color: #AAAAAA
}

.card-bill input {
    height: 31px !important;
    border: 1px solid #5B5B5B !important;
}

.bill-paper span.total-bill,
.creation-offer-price span.total-bill {
    width: 200px;
}

.create-offer {
    border-radius: 6px !important;
    width: 510px !important;
    height: 62px !important;
    font-size: 22px !important;
}

.creation-offer-price .card-bill {
    padding: 47px 47px 92px;
    border: 1px solid #D5D5D5;
    margin-top: -8px;
}

.creation-offer-price .d-flex div {
    color: var(--gray-bold-color) !important;
    margin-bottom: 22px;
}

.creation-offer-price .vr {
    height: 63px;
}

.add-term {
    bottom: -14px;
    height: 29px;
    font-size: 14px;
    border-radius: 35px;
    line-height: 0;
}

.modal-footer .aggree,
.modal-footer .aggree:hover,
.modal-footer .aggree:focus {
    background: #9E9E9E !important;
    border-radius: 6px;
    transform: translateX(-50%);
    height: 41px !important;
    width: 143px;
    bottom: -20px;
    border: 0 !important;
}

.order-status .form.card,
.bill .form.card {
    padding: 34px 60px;
    margin-top: 104px;
}

.order-status .form.card,
.order-status .form.card input,
.bill .form.card,
.bill .form.card input {
    border: 1px solid var(--gray-bold-color);
}

.bill .form.card .d-flex input:not(.notes) {
    margin-right: 40px;
}

.order-status .form.card .d-flex {
    margin-bottom: 52px;
}

.order-status .form.card .confirm,
.order-status .form.card .upload {
    height: 41px;
    width: 143px;
    border-radius: 6px;
    margin: 0 !important;
}

.order-status .form.card .confirm {
    background: #9E9E9E;
}

.order-status .form.card .upload {
    background: #F0F0F0;
    color: #8D8D8D;
}

.order-status .form.card .d-flex,
.bill .form.card .d-flex {
    margin-bottom: 37px;
}

.order-status .form.card ::placeholder,
.bill .form.card ::placeholder {
    color: #AAAAAA;
}

.order-status .form.card .transition,
.bill .form.card .transition {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 41px;
    width: 210px;
    background: #9E9E9E;
    border-radius: 6px;
    font-size: 18px;

}

.modal.order p {
    margin-bottom: 17px;
}

.modal.order p.text-main-brown {
    font-size: 14px;
    margin-top: 7px;
}

.modal.order hr.min {
    width: 193px;
    background: #5B5B5B;
    height: 2px;
}

.modal.order .modal-body h2 {
    font-size: 28px;
}

.modal.order .modal-dialog {
    max-width: 55% !important;
}

.modal.order .modal-header button {
    left: -1px;
    border-radius: 0;
}

.modal.order .w-60 {
    width: 60%;
}

.modal.order .w-40 {
    width: 40%;
}

.modal.order .rates {
    border: 1px solid var(--main-blue-color);
    padding: 0 35px;
    margin-top: 67px;
}

.modal.order .rates p.opinions {
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 20px;
    font-size: 18px;
    top: -20px;
    height: 39px;
    line-height: 39px;
}

.modal.order .rates .rate {
    overflow: auto;
    height: 203px;
    border-left: 1px solid #5B5B5B;
    border-right: 1px solid #5B5B5B;
    padding: 0 14px;
}

.modal.order .rates .rate::-webkit-scrollbar {
    width: 4px;
}

.modal.order .rates .rate::-webkit-scrollbar-thumb {
    background-color: #5B5B5B;
    border-radius: 0 !important;
}

.modal.order .rate .desc-rate {
    font-size: 12px;
}

.modal.order .rate .name,
.modal.order .col-12 p {
    font-size: 14px;
}

.modal.order .col-12 {
    margin-top: 70px;
}

.modal.order .col-12 input {
    width: 24px;
    height: 24px;
}

.modal.order .col-12 p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
}

.modal.order .modal-footer button {
    background: #9E9E9E;
    font-size: 18px;
    width: 143px;
}

.modal.order .trella {
    height: 190px;
    width: 375px;
    max-width: 100%;
}

@media (max-width:1600px) {
    .fs-18 {
        font-size: 14px !important;
    }

    .account-details .order-informations button,
    .account-details .offers button,
    .account-details .order-status button:not(.transition),
    .account-details .bill button,
    .account-details .bill a {
        width: 160px;
    }

    .create-offer {
        font-size: 20px !important;
        width: 400px !important;
    }

    .modal-footer .aggree {
        height: 35px;
        bottom: -19px;
        font-size: 16px;
    }

    .modal.order .modal-body h2 {
        font-size: 25px;
    }

}

@media (max-width:991.95px) {
    .offers .w-50 {
        width: 81% !important;
    }

    .bill .w-50.position-relative,
    .order-status .form.card,
    .bill .form.card {
        width: 80% !important;
    }

    .modal.order .modal-body h2 {
        font-size: 18px;
    }

    .modal.order .modal-dialog {
        max-width: 85% !important;
    }
}

@media (max-width:767.95px) {
    .current-status h5 {
        font-size: 22px
    }

    .account-details .overlay1 {
        min-height: unset !important;
    }

    .account-details .offers button,
    .account-details .order-status button:not(.transition),
    .account-details .bill button.first {
        width: 130px;
    }

    .button-back {
        margin-top: 80px !important;
    }

    .create-offer {
        font-size: 18px !important;
        width: 350px !important;
    }

    .creation-offer-price .card-bill.w-50 {
        width: 90% !important;
    }
}

@media (max-width:575px) {
    .account-details .steper {
        margin-top: 50px;
    }

    .account-details .btn.back,
    .account-details table td,
    .account-details table th {
        font-size: 12px !important;
    }

    .account-details .steper .steps span:nth-child(odd) {
        height: auto;
        line-height: unset;
        padding: 7px 5px 5px;
        font-size: 11px;
    }

    .account-details .steper .steps span:nth-child(even) {
        width: 25px;
        flex-shrink: 0;
    }

    .account-details .order-informations p span {
        font-size: 11px !important;
        padding-right: 2px !important;
    }

    .account-details .order-informations p span:nth-child(even) {
        padding-right: 8px !important;
    }

    .account-details .order-informations button,
    .account-details .offers button,
    .account-details .order-status button:not(.transition),
    .account-details .bill button.first {
        margin-top: 30px;
    }

    .account-details .bill button.first {
        width: 115px;
    }

    .bill-paper span.total-bill,
    .creation-offer-price span.total-bill {
        width: 150px;
    }

    .creation-offer-price .card-bill {
        padding: 19px 19px 55px;
    }

    .bill-paper h2 {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .order-informations button {
        font-size: 14px;
    }

    .order-informations .w-75,
    .order-status .buttons,
    .offers .buttons {
        width: 100% !important;
    }

    .bill-paper span {
        font-size: 14px;
    }

    .create-offer {
        font-size: 16px !important;
        width: 270px !important;
        height: 42px !important;
    }

    .order-status .form.card,
    .bill .form.card {
        width: 95% !important;
        padding: 30px;
        margin-bottom: 70px;
    }

    .order-status .form.card .transition,
    .bill .form.card .transition {
        bottom: -16px;
        height: 35px;
        width: 180px;
        font-size: 14px;
    }

    .bill .w-50.position-relative {
        width: 95% !important;
    }

    .bill .form.card .d-flex input:not(.notes) {
        margin-right: 15px;
    }

    .modal.order .col-12 input {
        width: 14px;
        height: 14px;
    }

    .modal.order .rates {
        padding: 0 15px;
    }

    .modal.order .rates,
    .modal.order .col-12 {
        margin-top: 10px;
    }

    .modal.order .col-12 {
        margin-bottom: 1.5rem;
    }

    .modal.order .col-12 p {
        font-size: 12px;
    }

    .modal.order .modal-footer button {
        font-size: 15px;
        width: 100px;
    }
}