
.fs-18 {
    font-size: 18px;
}

.orders {
    padding: 80px 0;
}

.orders .overlay1,
.orders .overlay2 {
    right: 0;
    z-index: 2;
}

.orders .overlay1 {
    height: 65%;
    min-height: 730px !important;
}

.orders .overlay2 {
    height: 23%;
}

.orders .overlay1 {
    clip-path: polygon(0 0%, 100% 0, 100% 98%, 0 82%);
}

.orders .overlay2 {
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
}
.orders .header span{
    height: 42px;
width: 42px;
border-radius: 6px;
background: #9E9E9E;
font-size: 16px;
display: inline-block;
text-align: center;
line-height: 44px;
}
.modal{
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);

}
.modal .modal-dialog{
    max-width: 530px !important;
/* height: 530px; */
display: block;
padding: 60px;
background: #FAFAFA;

}
.modal .modal-header{
    left: 0;
}
.modal-content{
    border: 1px solid #5B5B5B;
    background-color: transparent;
}

.modal .modal-body .col-sm-6 > div{
    margin-bottom: 40px;
}
.modal .modal-body input,
.modal .modal-body select{
    color: #AAAAAA;
    text-align: center;
    font-size: 14px;
    height: 29px;
}
.modal-footer .update{
    bottom: -20px;
    transform: translateX(-50%);
    left: 50%;
}

.modal-footer .aggree,
.modal-footer .aggree:hover,
.modal-footer .aggree:focus {
    background: #9E9E9E !important;
    border-radius: 6px;
    height: 41px !important;
    width: 185px;
    border: 0 !important;

}
.orders .header p {
    margin-bottom: 20px;
    font-size: 20px;
}

.orders hr {
    color: rgba(0, 0, 0, 0.3);
}



 table {
    margin-top: 45px;
}

 table thead th {
    background-color: #F5F5F5;
}

 table td,
 table th {
    height: 54px;
    line-height: 53px;
    color: #7E7E7E;
}

 table tbody tr:nth-child(odd) {
    background: #F3F3F3;
}

 table tbody tr:nth-child(even) {
    background: white;
}
table tbody tr:hover {
    background: var(--main-brown-color) !important;
    color: white !important;
}
table tbody tr:hover td{
    color: white !important;
}
 table tr td:last-child {
    cursor: pointer;
}



@media (max-width:1600px) {
    .fs-18 {
        font-size: 14px !important;
    }
}


@media (max-width:767.95px) {
     .overlay1 {
        min-height: unset !important;
    }
    .fs-18 {
        font-size: 14px !important;
    }
}

