.pt-115 {
    padding: 115px 0 145px;
}
h1::before {
    left: 50% !important;
    bottom: -10px !important;
    right: unset !important;
    transform: translateX(-80px) !important;
}
h1::after {
    right: 50% !important;
    bottom: -2px !important;
    left: unset !important;
    transform: translateX(80%) !important;
}
.using-way .dalil p {
    margin-top: 28px;
}

.using-way .source,
.using-way .services{
    margin-bottom: 154px;
}

.using-way .card {
    box-shadow: 2.95631px 0px 14.7816px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    overflow: hidden;
}

.using-way .slider .item {
    padding: 64px;
}

.using-way .card .slider .item:first-of-type {
    background: #FCFCFC;
}

.using-way .card .slider .item:nth-of-type(2) {
    background: #F8F8F8;
    box-shadow: 2.95631px 0px 14.7816px rgba(0, 0, 0, 0.25);
}
.using-way .source .owl-carousel .w-100{
    height: 570px;
}
.using-way .services .owl-carousel .w-100{
    height: 650px;
}
.using-way .owl-carousel .slider,
.using-way .owl-carousel .item:nth-of-type(2){
    height: 100% !important;
}
.using-way .owl-carousel .header {
    border-radius: 0px 0px 19.7087px 19.7087px;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    padding: 14px 92px 11px;
}

.using-way .owl-carousel h4 {
    margin-top: 90px;
    font-size: 28px;
    white-space: nowrap;
}
.using-way .owl-carousel.blue h4 {
    border-bottom: 3px solid var(--main-blue-color);
}

.using-way .owl-carousel.brown h4 {
    border-bottom: 3px solid var(--main-brown-color);
}

.using-way .owl-carousel h4 span{
    color: #F8F8F8;
    border-radius: 2px;
    line-height: 41px;
    padding: 0px 10px;
    margin-left: 15px;
}

.using-way .owl-carousel ul{
    list-style: inside;
    margin: 37px 0;
}
.using-way .owl-carousel ul li{
   padding-bottom: 20px;
}
.using-way .owl-carousel ul li:not(.using-way .owl-carousel ul li:last-child)::before{
    position: absolute;
    right: 2px;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #D9D9D9;
    top: 16px;
}

.using-way ul li p{
    color:  #6B6B6B;
    display: inline
}

::marker{
    color: #D9D9D9;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev,
 .owl-carousel button.owl-dot{
    width: 18px;
    height: 18px;
    border: unset;
    border-radius: 50%;
    margin-left: 10px;
    background: #D9D9D9;
}
.owl-carousel .owl-stage-outer{
    direction: ltr;
}

.owl-carousel.owl-drag .owl-item{
    width: 100%;
}
.owl-carousel .owl-dots{
    position: absolute;
    right: 45px;
    bottom: 45px;
}
.owl-carousel.blue .owl-dot.active{
    background: var(--main-blue-color) !important;
}
.owl-carousel.brown .owl-dot.active{
    background: var(--main-brown-color) !important;
}


.using-way .source .overlay,
.using-way .services .overlay{
    z-index: 1;
    left: 0;
    width: 100%;
    height: 90%;
}

.using-way .source .overlay{
    top: -100px;
    transform: skewY(4deg);
}
.using-way .services .overlay{
    top: 40px;
    transform: skewY(-3deg);
}

@media (max-width:1600px) {
    .using-way .owl-carousel h4 {
        font-size: 22px;
    }
    .using-way .owl-carousel h4 span{
        line-height: 30px;
        margin-left: 10px;
    }
    .using-way .slider .item{
        padding: 40px;
    }
}
@media (max-width:1024.95px) {
    .using-way .source , .using-way .services {
        margin-bottom: 100px;
    }
    .using-way .owl-carousel h4 {
        font-size: 20px;
    }
    .using-way .owl-carousel h4 span{
        line-height: 27px;
        margin-left: 10px;
    }
    .using-way .slider .item{
        padding: 20px;
    }
    .using-way .owl-carousel ul li {
        padding-bottom: 15px;
    }
    .using-way .owl-carousel ul li p {
        line-height: 22px;
        font-size: 15px;
    }
    .using-way .source .owl-carousel .w-100{
        height: 480;
    }
    
}

@media (max-width:768.95px) {
    .using-way .owl-carousel h4 {
        font-size: 16px;
    }
    .using-way .card .slider .item:first-of-type{
        width: 40% !important;
    }
    .using-way .card .slider .item:nth-of-type(2){
        width: 60% !important;
    }
    .pt-115 {
        padding: 80px 0;
    }
    .using-way .source .overlay{
        top: -60px;
    }
}

@media (max-width:575px) {
    .pt-115 {
        padding: 50px 0;
    }
    .using-way .card .slider .item:first-of-type{
        display: none !important;
    }
    .using-way .card .slider .item:nth-of-type(2){
        width: 100% !important;
        margin: auto;
    }
    .using-way .owl-carousel .header{
        padding: 14px 55px 11px;
    }
    .using-way .source .owl-carousel .w-100{
        height: 530px;
    }
    .using-way .services .owl-carousel .w-100{
        height: 600px;
    }
    .using-way .owl-carousel ul li p {
        line-height: 16px;
        font-size: 12px;
    }
    .dalil p {
        width: 90% !important;
    }
    .using-way .source .overlay{
        top: -60px;
        transform: skewY(4deg);
    }
    .using-way .source .overlay{
        top: -30px;
    }
}